<footer class="footer">
  <div class="ui attached stackable menu">
    <div class="ui container">
      <small>
        The <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
        by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
      </small>
      <%= link_to 'About', about_path, class: 'right item' %>
      <%= link_to 'Contact', contact_path, class: 'item' %>
      <%= link_to 'News', 'http://news.railstutorial.org/', class: 'item' %>
    </div>
  </div>
</footer>
