<header class="header">
  <div class="ui attached stackable menu">
    <div class="ui container">
      <%= link_to 'Home', { controller: 'static_pages', action: 'home' }, class: 'item' %>
      <%= link_to 'Help', { controller: 'static_pages', action: 'help' }, class: 'item' %>
      <%= link_to 'Log in', '#', class: 'right item' %>
    </div>
  </div>
</header>
