<header class="header">
  <div class="ui attached stackable menu">
    <div class="ui container">
      <%= link_to 'Home', root_path, class: 'item' %>
      <%= link_to 'Help', help_path, class: 'item' %>
      <%= link_to 'Log in', '#', class: 'right item' %>
    </div>
  </div>
</header>
