<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <% render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="main">
      <div class="ui container">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
